
# pixi environments
.pixi
*.egg-info
# magic environments
.magic
models
gpt2_weights.npz*
.venv/
__pycache__/
data/
model_weights.npy
*.copy.*
*.copy
# pixi environments
.pixi/*
!.pixi/config.toml
logs/
scripts/__pycache__/
tests/test_cpu_all_[0-9]*.mojo
tests/test_cpu_all.mojo
tests/test_gpu_all_[0-9]*.mojo
tests/test_gpu_all.mojo
working/
nanogpt/
tests/tenmo.mojoc
